<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>hAI-GreenHouse</title>
	<link rel="stylesheet" href="{{ url_for('static',filename='jquery-ui.css')}}">
    <script src="{{ url_for('static',filename='jquery.min.js')}}"></script>
    <script src="{{ url_for('static',filename='jquery-ui.js')}}"></script>
    <script src="{{ url_for('static',filename='echarts.min.js')}}"></script>
    <script src="{{ url_for('static',filename='echarts-liquidfill.min.js')}}"></script>
    <script src="{{ url_for('static',filename='lc_switch.js')}}"></script>
	<style>
		#Fan-handle {
			width: 3em;
			height: 1.6em;
			top: 50%;
			margin-top: -.8em;
			text-align: center;
			line-height: 1.6em;
		}
	</style>
</head>
<body>
		<div id="tMenu">查詢日期：<input type="text" id="qdate"><button id='bqdate'>查詢</button><input type="button" value="回首頁" onclick="location.href='/'"><input type="button" value="設定" onclick="location.href='/Settings'"></div>
	<script>
		$( function() { 
				$.ajax({
					type: "GET",
					url: "/getDeltaFirstDays",
					success: function( result ) {
						$("#qdate").datepicker( { minDate: result, maxDate: "+0" } );
						$("#qdate").datepicker( "option", "dateFormat", 'yy-mm-dd' );
					} 
				});
			}
		);
		$("#bqdate").click( function() {
			var lo = $("#qdate").val();
			if ( lo != "" ){
				window.location.href = "/?stime="+ $("#qdate").val() 
			}else{
				alert(" 請選擇日期 " )
			}
		});
	</script>
    <div id="MainLine" style="width:1000px; height:600px;"></div>
    <script>
		var getUrlParameter = function getUrlParameter(sParam){
			var sPageURL = window.location.search.substring(1),
				sURLVariables = sPageURL.split('&'),
				sParameterName,
				i;

			for (i = 0; i < sURLVariables.length; i++) {
				sParameterName = sURLVariables[i].split('=');

				if (sParameterName[0] === sParam) {
				return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
				}
			}
			return false
		}

		$(
            function () {
				var stime = getUrlParameter('stime');
				var etime = getUrlParameter('etime');
                var chart = echarts.init(document.getElementById('MainLine'), 'white', {renderer: 'canvas'});
                $.ajax({
                    type: "GET",
                    url: "/LineChart?stime="+stime+"&etime="+etime,
                    dataType: 'json',
                    success: function (result) {
                        chart.setOption(result);
                    }
                });
            }
        )
    </script>

	<div id="LTHBoard" style="display:flex">
		<div style="font-size: 200%">目前照度：
			<div id="LTH_Lumi" style="text-align: center; width:350px; height:300px; padding-top:130px;"></div></div>
		<div style="font-size: 200%">目前溫度：
			<div id="LTH_Temp" style="width:350px; height:300px; padding-top: 40px; "></div></div>
		<div style="font-size: 200%">目前濕度：
			<div id="LTH_Humi" style="width:350px; height:300px;"></div></div>
	</div>

	<div id="POnOff" style="display:flex">
		<div id='POnOff-Light' style="width:350px">
		</div>
		<div id='POnOff-Fan' style="width:350px">
		</div>
		<div id='POnOff-Humi' style="width:350px">
		</div>
	</div>

	<div id="divNote" style="display:flex">
		<label>筆記：</label>
		<div id="NoteDate">
		</div>
		<div id="objNote">
			<textarea id="tNote" cols="50" name="tNote" rows="3" style="padding-right: 10px;"></textarea>
		</div>
		<button id='updateNote'>修改</button>
		<div id="NoteMsg"></div>
	</div>

	<div id="LightPower" style="height: 50px;">
		<label>植物燈光</label>
		<input type='checkbox' id="cLight" name="cLight" value="cLight">
		目前狀態：<div id='lightstatus' style="display: inline-flex; "></div>
	</div>

	<div id="FanPower" style="height: 50px;">
		<label>溫控風扇</label>
		<input type='checkbox' id='cTemp' name="cTemp" value="cTemp">
		目前狀態：<div id='tempstatus' style="display: inline-flex;"></div>
		/ 風扇強度：<div style="width: 30%; display: inline-flex;" id="FanSlider"><div id="Fan-handle" class="ui-slider-handle"></div></div>
	</div>

	<div id="HumiPower" style="height: 50px;">
		<label>噴水加濕</label>
		<input type='checkbox' id='cHumi' name="cHumi" value="cHumi">
		目前狀態：<div id='humistatus' style="display: inline-flex;"></div>
	</div>

    <script>

	//window.addEventListener("load", createWS, false);  
		var GetFanP = function GetFanP(){
			var fanPP;
			$.ajax({
				type: "GET",
				url: "/GetFanPower",
				async: false,
				success: function (result){
					fanPP = result;
               	}
			});
			return fanPP;
		};

		$( 
		function() {
			var fanP = GetFanP() / 10;

			var handle = $( '#Fan-handle' );
			$('#FanSlider').slider({
				create: function() {
					handle.text( $( this ).slider( "value" ) ); },
				range: "max",
				min: 1,
				max: 10,
				value: fanP,
				slide: function( event, ui ){
					handle.text( ui.value );
					fanpower = ui.value * 10;
					purl = "/SetFanPower/" + fanpower;
					$.ajax({
						type: "GET",
						url: purl });
					}
				});
			}
		)

		lc_switch('input[type=checkbox], input[type=radio]', { 
			on_txt: '手動開啟', off_txt: '智慧控制' });

		document.querySelectorAll('input[type=checkbox], input[type=radio]').forEach(function(el) {
    		// triggered each time input status changes (checked and disabled)
    		el.addEventListener('lcs-statuschange', function() {
                var jobj = {};
				if ( $(this).prop("checked") ){
					switch ( $(this).val() ){
					case 'cLight':
						purl = "/PON/Light";	
		  			    jobj["light"] = '1';
						break;
					case 'cTemp':
						purl = "/PON/Temp";
					    jobj["temp"] = '1';
						$( '#FanSlider' ).slider( "enable" );
						break;
					case 'cHumi':
						purl = "/PON/Humi";
					    jobj["humi"] = '1';
						break;
					default:
						alert( "Error" )
						return;
					}
				}else{
					switch ( $(this).val() ){
					case 'cLight':
						purl = "/POFF/Light";	
		  			    jobj["light"] = '0';
						break;
					case 'cTemp':
						purl = "/POFF/Temp";
					    jobj["temp"] = '0';
						$( '#FanSlider' ).slider( "disable" );
						break;
					case 'cHumi':
						purl = "/POFF/Humi";
					    jobj["humi"] = '0';
						break;
					default:
						alert( "Error" )
						return;
					}
				}
				if ( purl ){
					$.ajax({
						type: "GET",
						url: purl,
						success: function (result){
                            if ( result == '1' ){
		  					    if ( jobj['light'] == '1' ){
								    $('#lightstatus').html('<font color=green>開啟</font>');
							    }else if ( jobj['light'] == '0' ){
								    $('#lightstatus').html('<font color=red>關閉</font>');
							    }
							    if ( jobj['temp'] == '1' ){
								    $('#tempstatus').html('<font color=green>開啟</font>');
							    }else if ( jobj['temp'] == '0' ){
								    $('#tempstatus').html('<font color=red>關閉</font>');
							    }
							    if ( jobj['humi'] == '1' ){
								    $('#humistatus').html('<font color=green>開啟</font>');
							    }else if ( jobj['humi'] == '0' ){
								    $('#humistatus').html('<font color=red>關闢</font>');
							    }
                            }
						}
					});
				}
			});
		});
		
	  
		$(
			function() {
				$.ajax({
					type: "GET",
					url: "/askPowerStatus",
					success: function (result){
						if ( result == '0' ){
							alert( "Get Power Status Failed, please try again later" );
							$('#lightstatus').html('<font>未知</font>');
							$('#tempstatus').html('<font>未知</font>');
							$('#humistatus').html('<font>未知</font>');
						}else{
							var jobj = JSON.parse( result );
		  					if ( jobj['light'] == '1' ){
								$('#lightstatus').html('<font color=green>開啟</font>');
							}else{
								$('#lightstatus').html('<font color=red>關閉</font>');
							}
							if ( jobj['temp'] == '1' ){
								$('#tempstatus').html('<font color=green>開啟</font>');
							}else{
								$('#tempstatus').html('<font color=red>關閉</font>');
							}
							if ( jobj['humi'] == '1' ){
								$('#humistatus').html('<font color=green>開啟</font>');
							}else{
								$('#humistatus').html('<font color=red>關闢</font>');
							}
						}
					}
				});
			}
		)


        $(
			function () {
				$.ajax({
					type: "GET",
					url: "/askLTHMode",
					success: function (result) {
						if ( result == '0' ){
							alert( "Get Mode Failed, please try again later" );
						}else{
							var jobj = JSON.parse( result );
							lcs_cLight = $('#cLight').get();
							lcs_cTemp = $('#cTemp').get();
							lcs_cHumi = $('#cHumi').get();
							if ( jobj['light'] == '1' ) { 
								lcs_on( lcs_cLight );
							}else{
								lcs_off( lcs_cLight );
							}

							if ( jobj['temp'] == '1' ){
								lcs_on( lcs_cTemp );
							}else{
								lcs_off( lcs_cTemp );
							}

							if ( jobj['humi'] == '1' ){
								lcs_on( lcs_cHumi );
							}else{
								lcs_off( lcs_cHumi );
							}
						}
					}
				});
			}
		)

		$(
            function () {
				var stime = getUrlParameter('stime');
				if ( stime != false ){
					$("#LTHBoard").hide();
					return false;
				}
                $.ajax({
                    type: "GET",
                    url: "/LTH_Lumi",
                    success: function (result) {
						$("#LTHBoard").show();
						$("#LTH_Lumi").html( "<font size=+5>"+result+"</font>" );
                    }
                });

                var temp_chart = echarts.init(document.getElementById('LTH_Temp'), 'white', {renderer: 'canvas'});
                $.ajax({
                    type: "GET",
                    url: "/LTH_Temp",
                    dataType: 'json',
                    success: function (result) {
                        temp_chart.setOption(result);
                    }
                });

                var humi_chart = echarts.init(document.getElementById('LTH_Humi'), 'white', {renderer: 'canvas'});
                $.ajax({
                    type: "GET",
                    url: "/LTH_Humi",
                    dataType: 'json',
                    success: function (result) {
                        humi_chart.setOption(result);
                    }
                });
            }
		)

		$(
			function() {
				var stime = getUrlParameter('stime');
				var today = $.datepicker.formatDate('yy-mm-dd', new Date() );

				if ( stime == false ){
					var qurl = "/getNote";
					var surl = "/setNote/" + today;
				}else{
					var qurl = "/getNote/"+ stime;
					var surl = "/setNote/"+ stime;
				}
				$.ajax({
					type: "GET",
					url: qurl,
					success: function (result){
						if ( result == 'False' ){
							alert( "Get GetNote failed, please try again later" );
						}else{
							$( "#tNote" ).val( decodeURIComponent( result ) );
						}
					}
				});

				$( '#updateNote' ).click( function() {
					var tNote = encodeURIComponent( $( '#tNote' ).val() );
					surl = surl + "/" + tNote;
					$.ajax({
						type: "GET",
						url: surl,
						success: function (result){
							if ( result == 'False' ){
								alert( "Get GetNote failed, please try again later" );
							}else{
								$( "#NoteMsg" ).html("Save Successful");
							}
						}
					});
				});
			}
		)

		$(
			function() {
				var stime = getUrlParameter('stime');
				if ( stime == false ){
					var lurl = "/getPOnOff/Light";
					var turl = "/getPOnOff/Temperature";
					var hurl = "/getPOnOff/Humidity";
				}else{
					var lurl = "/getPOnOff/Light/"+ stime;
					var turl = "/getPOnOff/Temperature/"+ stime;
					var hurl = "/getPOnOff/Humidity/"+ stime;
				}

				$.ajax({
					type: "GET",
					url: lurl,
					success: function (result){
						if ( result == 'False' ){
							alert( "Get getPOnOff failed, please try again later" );
						}else{
							result = JSON.parse( result )
							result.forEach( function( item ){
								$( "#POnOff-Light" ).append( item + "</br>" )
							})
						}
					}
				});
				$.ajax({
					type: "GET",
					url: turl,
					success: function (result){
						if ( result == 'False' ){
							alert( "Get getPOnOff failed, please try again later" );
						}else{
							result = JSON.parse( result )
							result.forEach( function( item ){
								$( "#POnOff-Fan" ).append( item + "</br>" )
							})
						}
					}
				});
				$.ajax({
					type: "GET",
					url: hurl,
					success: function (result){
						if ( result == 'False' ){
							alert( "Get getPOnOff failed, please try again later" );
						}else{
							result = JSON.parse( result )
							result.forEach( function( item ){
								$( "#POnOff-Humi" ).append( item + "</br>" )
							})
						}
					}
				});
			}
		)

	</script>
</body>
</html>
