<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Settings # hAI-GreenHouse</title>
    <script src="https://cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
	<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">

	<!--
	<link rel="stylesheet" href="{{ url_for('static', filename='vSettings.css') }}">
    <script src="{{ url_for('static',filename='jquery.dataTables.min.js')}}"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='jquery.dataTables.min.css') }}"> --!>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <!-- <script src="{{ url_for('static',filename='lc_switch.js')}}"></script> -->
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

<h1> Settings </h1>

<div id="menu"><input type="button" value="回首頁" onclick="location.href='/'"></div>

<div id="messages">{{ msg }}</div>

<div id="tabs">
	<ul>
		<li><a href="#tab-1">TimeOnOff</a></li>
		<li><a href="#tab-2">Schedule</a></li>
	</ul>
	<div id="tab-1">
		<div id="timeonoff_form">

		</div>
	</div>
	<div id="tab-2">
		<div id="schedule_form">

		</div>
	</div>
</div>
<script>
	$.ajax({
		type: 'GET',
		url: '/getIntervals',
		dataType: 'json',
		success: function( result ){
			var interhtml = "<form action='/setIntervals' method='get'><table>";
			interhtml += "<tr><td>Item</td><td>Second</td></tr>";
			$.each( result['data'], function( key, val ){
				var item = val['item'];
				interhtml = interhtml + "<tr><td>"+val['item']+" ("+val['titem']+")</td><td><input type='text' name='"+val['item']+"' value="+val['seconds']+" >";
			});
			interhtml += "</table><input type='submit' value='儲存'></form>";
			$('#schedule_form').append( interhtml );
		}
	});

	$.ajax({
		type: 'GET',
		url: '/getTimeOnOff',
		dataType: 'json',
		success: function( result ){
			$.each( result['data'] , function( key, val ) {
				var h24 = val['hour24h'];
				var timehtml = "";
				timehtml += "<form method='get'>";
				timehtml += "<div class='container-fluid border' id='time_"+h24+"'>";
				timehtml += "<a name='anchor_"+h24+"'></a>";
				timehtml += " <div class='row'>";
				timehtml = timehtml + "  <div class='col-2 align-self-center h2'>"+h24+" 點</div>";
				timehtml += "  <div class='col-10'>";

				timehtml = timehtml + "   <div class='row bg-warning pt-3 rounded-start'><div class='col-1 align-self-center border'>光照</div>";
				timehtml = timehtml + "    <div class='col'>";
				timehtml = timehtml + "<p id='txtshadeon'>啟動遮陽網，當光照大於 <input id='shadeon_"+h24+"' name='shadeon' size=8 value="+val['shadeon']+"> 流明";
				if ( h24 > 0 ) timehtml = timehtml + " <button type='button' onclick='cpitem( \"shadeon\", "+h24+" )' >複製</button> </p>";
				timehtml += "<p id='exshadeon'>&nbsp;&nbsp;&nbsp;說明：請自訂流明，不要啟動的話請設定 99999，要保持啟動的話請設定 0 </p>";
				timehtml = timehtml + "<p>啟動燈光，當光照範圍: <input id='lightoff_"+h24+"' size=8 name='lightoff' value="+val['lightoff']+"> ";
				if ( h24 > 0 ) timehtml = timehtml + " <button type='button' style='display: inline-block;' onclick='cpitem( \"lightoff\", "+h24+" )' >複製</button>";
				timehtml = timehtml + " ~ <input id='lighton_"+h24+"' name='lighton' size=8 value="+val['lighton']+"> 流明";
				if ( h24 > 0 ) timehtml = timehtml + " <button type='button' onclick='cpitem( \"lighton\", "+h24+" )' >複製</button>";
				timehtml += "          </p>"
				timehtml += "<p id='exlight'>&nbsp;&nbsp;&nbsp;說明：請自訂流明，不要啟動的話請設定 -9999 ~ -999，要保持啟動的話請設定 99999 ~ 0 </p>";
				timehtml += "   </div></div>";

				timehtml = timehtml + "   <div class='row bg-danger pt-3 rounded-start'><div class='col-1 align-self-center'>溫度</div>";
				timehtml = timehtml + "    <div class='col'>";
				timehtml = timehtml + "<p>啟動風扇，當溫度大於 <input id='tempon_"+h24+"' size=6 name='tempon' value="+val['tempon']+"> 度";
				if ( h24 > 0 ) timehtml = timehtml + " <button type='button' onclick='cpitem( \"tempon\", "+h24+" )' >複製</button> </p>";
				timehtml += "<p id='extemp'>&nbsp;&nbsp;&nbsp;說明：請自訂溫度，不要啟動的話請設定 99，要保持啟動的話請設定 0 </p>";
				timehtml += "   </div></div>";

				timehtml = timehtml + "   <div class='row bg-info pt-3 rounded-start'><div class='col-1 align-self-center'>濕度</div>";
				timehtml = timehtml + "    <div class='col'>";
				timehtml = timehtml + "<p>啟動加濕器，當濕度小於 <input id='humion_"+h24+"' size=8 name='humion' value="+val['humion']+"> ";
				if ( h24 > 0 ) timehtml = timehtml + " <button type='button' onclick='cpitem( \"humion\", "+h24+" )' >複製</button> </p>";
				timehtml += "<p id='exhumi'>&nbsp;&nbsp;&nbsp;說明：請自訂濕度，不要啟動的話請設定 0，要保持啟動的話請設定 999 </p>";
				timehtml += "   </div></div>";

				timehtml = timehtml + "   <div class='row bg-secondary pt-3 rounded-start'><div class='col-1 align-self-center'>門</div>";
				timehtml = timehtml + "    <div class='col'>";
				timehtml = timehtml + "<p>開門與關門 <select id='dooronoff_"+h24+"' name='dooronoff'><option value=0>關門</option><option value=1>開門</option></select>";
				if ( h24 > 0 ) timehtml = timehtml + " <button type='button' onclick='cpitem( \"dooronoff\", "+h24+" )' >複製</button> </p>";
				timehtml += "<p id='exdoor'>&nbsp;&nbsp;&nbsp;說明：開門或是關門</p>";
				timehtml += "   </div></div>";

				timehtml = timehtml + "   <div class='row'><div class='row pt-3'><div class='col-1 align-self-center'>操作</div>";
				timehtml = timehtml + "    <div class='col'>";
				if ( h24 > 0 ) timehtml = timehtml + "<button type='button' id='cpsection_"+h24+"' onclick='cpsection("+h24+")' >全部複製上一個時段</button>";
				timehtml += "<p>跳到時間：<a href='#anchor_0'>0</a> <a href='#anchor_1'>1</a> <a href='#anchor_2'>2</a> <a href='#anchor_3'>3</a> <a href='#anchor_4'>4</a> <a href='#anchor_5'>5</a> <a href='#anchor_6'>6</a> <a href='#anchor_7'>7</a> <a href='#anchor_8'>8</a> <a href='#anchor_9'>9</a> <a href='#anchor_10'>10</a> <a href='#anchor_11'>11</a> <a href='#anchor_12'>12</a> <a href='#anchor_13'>13</a> <a href='#anchor_14'>14</a> <a href='#anchor_15'>15</a> <a href='#anchor_16'>16</a> <a href='#anchor_17'>17</a> <a href='#anchor_18'>18</a> <a href='#anchor_19'>19</a> <a href='#anchor_20'>20</a> <a href='#anchor_21'>21</a> <a href='#anchor_22'>22</a> <a href='#anchor_23'>23</a></p>";
				timehtml += "<p><input type='submit' value='儲存'></p>";
				timehtml += "   </div></div></div>";

				timehtml += "  </div></div></div></form>";

				$('#timeonoff_form').append( timehtml );
			});
		}
	});

</script>

<script>

	function cpitem( item, hr ){
		var phr = hr - 1;
		$( `#${item}_${hr}` ).val( $( `#${item}_${phr}` ).val() );
	}
	function cpsection(hr){
		cpitem( "shadeon", hr );
		cpitem( "lightoff", hr );
		cpitem( "lighton", hr );
		cpitem( "tempon", hr );
		cpitem( "humion", hr );
		cpitem( "dooronoff", hr );
	}
	$( function() {
		$( '#tabs' ).tabs();
	});
</script>

